.device-panel {
    border: 3px lightslategray ridge;
    background-color: whitesmoke;
    min-height: 400px;
    min-width: 400px;
    margin: 5px;
    padding: 5px; 
    display: inline-block;
}

.device-panel-header{
    display: inline-flex; 
    width: 100%; 
    justify-content: space-between;
}

.one-line{ 
    display: inline-flex; 
    width: 100%; 
    justify-content: space-evenly;
}