<div *ngIf="deviceIndex != undefined">
  <div class="device-panel">
    <div class="device-panel-header">
      <p>
        name: {{ device.name }}
      </p>
      <p>
        index: {{deviceIndex}}
      </p>
    </div>

    <div>
      <p> toggleOn-status: {{ device.toggledOn }} </p>
      <p>
        <time-counter-displayer [deviceIndex]="deviceIndex"></time-counter-displayer>
        {{deviceIndex}}
      </p>
    </div>

    <div class="one-line">
      <p> changesCounter: {{changesCounter}} </p>
      <p>
        <button class="btn btn-outline-secondary" (click)="stopListeningForStateChanges()">unsubcribe</button>
      </p>
    </div>

    <div *ngIf="storedHangingPeriods.length">
      those are timestamps:
      <ul *ngFor="let period of storedHangingPeriods">
        <li>
          <span *ngIf="period.start.state">
            {{period.start.state}} ({{period.start.timestamp}})
          </span>
          <span *ngIf="period.stop != undefined">
            -- {{period.stop.state}} ({{period.stop.timestamp}})
          </span>
        </li>
      </ul>
    </div>

  </div>
</div>