<div *ngIf="deviceIndex != undefined">
  <div class="device-panel">
    <p> name: {{ device.name }} </p>
    <p> toggleOn-status: {{ device.toggledOn }} </p>
    <p> this device index is {{deviceIndex}} </p>
    <p> changesCounter: {{changesCounter}} </p>
    <p>
      <button class="btn btn-outline-secondary" (click)="stopListeningForStateChanges()">unsubcribe</button>
    </p>

    <div *ngIf="storedHangingPeriods.length">
      those are timestamps:
      <ul *ngFor="let period of storedHangingPeriods">
        <li>
          <span *ngIf="period.start.state">
            {{period.start.state}} ({{period.start.timestamp}})
          </span>
          <span *ngIf="period.stop != undefined">
            -- {{period.stop.state}} ({{period.stop.timestamp}})
          </span>
        </li> 
      </ul> 
    </div>

  </div>
</div>