<!-- <div class="float-left"> -->
<!-- <div class="side-panel float-left col-2"> -->
<!-- <div class="side-panel col-1">
        <h3> control pannel:</h3>

        side-panel
    </div> -->
<div class="card side-panel">
    <div class="card-body">
        <h4 class="card-title">control panel</h4>

        <p class="text-muted">
            too see more options connect to driver
        </p>

        <p>
            connect to your exercise bar`s driver:
            <button class="btn btn-outline-primary">connect</button>
        </p>
    </div>
</div>