<div class="main-page">
  <side-panel></side-panel>

  <div style="width: 40%; background-color: aqua;">
    placeholder2
  </div>
  <div style="width: 40%; background-color: aqua;">
    placeholder2
  </div>
  <!-- <router-outlet></router-outlet> -->
  <div class="jumbotron">
      <h1>Angular CLI v6 + Bootstrap & FontAwesome</h1>
      <p>
          <button class="btn-primary">lkj</button>
        In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!
      </p>
    </div>
</div>